<!DOCTYPE html>
<html lang="fa" dir="rtl" class="h-100" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="hassan nazarparvar talash computer co.ltd">
  <meta name="generator" content="hassan 0.112.5">
  <meta http-equiv="cache-control" content="no-cache"> 
  <meta http-equiv="expires" content="0"> 
  <meta http-equiv="pragma" content="no-cache"> 

  <title>
    <%= pageTitle %>
  </title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/bootstrap.rtl.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/stylePrj/styles.css">
  <link rel="stylesheet" href="/fonts/font-awesome.css">
  <link href="/css/stylePrj/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body class="d-flex rtl flex-column h-100">
   <!--Top  nav bar for searching -->
  <header class="mb-5">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark  ">
      <div class="container-fluid border-success bg-info hnnavbar-top-style ">
        <a class="navbar-brand" href="#"><span class="fa fa-stethoscope bg-success  my-3"></span> دکتر پیش تو</a>
        <button onclick="OpenCloseNav()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav  mb-2 mb-md-0">
           
            <li class="nav-item pl-0">
              <a class="nav-link active" href="#" data-bs-toggle="modal" id="SignUpSickLink"
              data-bs-target="#SignUpSick">
              <span class="fa fa-user pr-1"></span>ثبت نام بیمار
              </a>
            </li>
            
            <li class="nav-item pl-0">
              <a class="nav-link active" href="/dashboard">
                <p class="fa fa-2x fa-home"></p>
              </a>
            </li>
            
            <li class="nav-item pl-0">
              <!-- dork mode light mode section -->
              <div class="form-check form-switch ms-auto mt-2 me-1">
                <label class="form-check-label ms-3" for="lightSwitch">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-brightness-high" viewBox="0 0 16 16">
                    <path
                      d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                  </svg>
                </label>
                <input class="form-check-input " type="checkbox" style="display:none" id="lightSwitch" />
              </div>
            </li>
          </ul>
           
          <form class="input-group bg-warning  p-0 col-md " role="search" method="GET" action="/dashboard/SearchForSickUser">
            <input autocomplete="off" oninput="SaySickInfo(this)" list="SickListSelect" class="form-control  col-12 " type="search" id="SerachFordoctorr" name="SerachFordoctorr"
              placeholder="نام بیمار ، کدملی ،شماره موبایل    برای جستجو اینجا وارد کنید" aria-label="Search">
               <input type="text" name="" id="SlectedsickId" value="" hidden>
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="submit">
                <span class="fa fa-search blue-color fa-lg fa-fw " aria-hidden="true"></span>
              </button>
            </div>

          </form>
        </div>
        
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-center text-bg-success m-1 border rounded-5 " href="#">
          تعیین وقت حضوری</a>
      </div>
    </nav>
    
  </header>
  <%- include('../include/SignUpSick.ejs') %>
  <div>
    <div class="row mt-2 p-4 flex mb-0 " >
      <!-- offconvass side bar  hamburger Button-->
       <div class="col-2 mx-1">
          <a class="btn btn-primary" data-bs-toggle="offcanvas"  href="#offcanvasExample" role="button"
          aria-controls="offcanvasExample"
          <% if (IsDoctor) { %>
            style='display:block'> 
           <% } else { %>
            style='display:none'> 
            <% } %>
          
           <span class="fa fa-bars hamburger"></span>
          </a>
       </div> 
        <!--list sick  -->
        <div class="col-8 mx-4">
         <table id="ListSickTable"  class="table  mx-2  align-middle table-sm table-bordered table-hover table-striped table-primary p-2 mt-1 m-4">
           <thead id="ff" class="table-light">
          <tr id="gg" class="table-primary">
              <th id="h" scope="col"  onclick="sortTable(0)" >نام</th>
              <th id="g" scope="col"  onclick="sortTable(1)">موبایل</th>
              <th id="hh" scope="col" onclick="sortTable(2)" >کد ملی</th>
          </tr>
           </thead>
             <tbody>
          <% let Iid=0 %>
                  <% if (Object.keys(SickList).length === 0) { %>
                    <h4 class="text-center text-danger">جستجوی بدون نتیجه قابل نمایش!</h4>
                  <% } else {%>
                    <h4 class="text-center text-danger">برای انتخاب روی نام بیمار کلیک نمایید</h4>
                    <% SickList.forEach(Person=> { %>
                            <% Iid++ %>
                                          <tr id="<%= Iid  %>" class="" onclick="SelctSick(this)" >
                                            <td id="tdFullName">
                                                <%= Person.FullName %>
                                            </td>
                                            <td id="tdmobileId" class="m-0 p-0">
                                                <%= Person.mobileId %>
                                            </td>
                                            <td id="tdcodemilli">
                                                <%= Person.codemilli %>
                                            </td>
                                        </tr>
                    <% }) %>     
                  <% } %>
         
             </tbody>
         </table>
        </div> 
      
    </div>
      <!-- offcanvass  menu  dettails-->
      <div class="offcanvas offcanvas-start col-2 "   data-bs-scroll="true" tabindex="-1" id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header ">
        <h5 class="offcanvas-title text-success" id="offcanvasExampleLabel">امکانات ویژه</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="text-secondary-emphasis">
         پزشک محترم در این قسمت شما می توانید  نوبت ها روزهای کاری مطب یا  مرکز درمانی  
        و همچنین فاصله زمانی هر نوبت را نیز مشخص نمایید
        <hr>
        </div>
        <div id="doctorSpesialmenu" class="row">
         <a href="/dashboard/createNobatDoctor/<%= user._id  %>" class="" ><span class="fa fa-calendar m-2"></span>ایجاد نوبت  ویزیت</a>
         <a href="/dashboard/MatabView/<%= user._id  %>" class="text-danger" ><span  class="fa fa-hospital-o text-danger m-2" ></span>مطب - نوبت اینترنتی</a> 
         <a href="/dashboard/NobatHozri/<%= user._id  %>" class="text-success" ><span  class="fa fa-user  text-info m-2" ></span>مطب - نوبت حضوری</a> 
        </div>
        <div class="dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown">
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      </div>  
    
  </div>
    <%- body %>

      <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
          <span class="text-body-secondary text-body-emphasis p-2 m-2 text-center">ویزت آسان  مدیرت مطب  نوبت های اینترنتی ویزیت با قلم نوری بدون نیاز به تایپ</span>
        </div>
      </footer>
      <script src="/jsPrj/switch.js"></script>
      <script src="/jsPrj/SignUpSickHozeri.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      
                 
                   
                                     
</body>

</html>