
<link rel="stylesheet" href="/css/stylePrj/paramechoSection.css">
<div class="container">
    <% filenames=['heartgood.png','heartusb.png','heartline.png','heartshekast.png','heartrectangle.png','heartgosfand.png','heartamam.png','heartamam.png','heartmath.png','heartsting.png','heartmath.png','heartdoctor.png','herarchart.png','cardio.png','heartnote.png','cardiparvand.png','cardiparvand.png','heartcard.png'] %>
    <div class="accordion mb-3" id="accordionData">
        <% data.forEach((item, index)=> { %>
           <% if ( item.title=="Pericardium,CardiacFunction,CardiacTamponade,Other...") { %>
            <%- include("../../include/18echo.ejs") %>
           <% } else{ %>

              <div class="accordion-item">
                <h2 class="accordion-header" id="heading<%= index %>">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse<%= index %>" aria-expanded="false"
                        aria-controls="collapse<%= index %>">
                        <img src="<%- `/assets/${filenames[index]}` %>" alt="Icon" style="width: 30px; height: 30px; margin-right: 5px;" class="icon-small"> <%= item.title %>
                    </button>
                </h2>
                <div id="collapse<%= index %>" class="accordion-collapse collapse"
                    aria-labelledby="heading<%= index %>" data-bs-parent="#accordionData">
                    <div class="accordion-body">
                        <% item.categories.forEach(category=> { %>
                            <% if (category.category) { %>
                                <h5 data-type="category">
                                    <%= category.category %>
                                </h5>
                                <% } %>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Parameter</th>
                                                <% Object.keys(category.parameters[0]).forEach(key=> { %>
                                                    <% if (key !=="Parameter" && key !=="User Value" && key
                                                        !=="Result" ) { %>
                                                        <th>
                                                            <%= key %>
                                                        </th>
                                                        <% } %>
                                                            <% }); %>
                                                                <th>User Value</th>
                                                                <th>Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% category.parameters.forEach(parameter=> { %>
                                                <tr>
                                                    <td>
                                                        <%= parameter.Parameter || parameter.Stage %>
                                                    </td>
                                                    <% Object.keys(parameter).forEach(key=> { %>
                                                        <% if (key !=="Parameter" && key !=="User Value" && key
                                                            !=="Result" ) { %>
                                                            <td>
                                                                <%= parameter[key] %>
                                                            </td>
                                                            <% } %>
                                                                <% }); %>
                                                                    <td>
                                                                        <input type="text" name="userValue"
                                                                            value="<%= parameter[" User Value"]
                                                                            || '' %>">
                                                                    </td>
                                                                    <td>
                                                                        <% if (parameter.Result) { %>
                                                                            <div>
                                                                                <!-- <input type="checkbox" name="Normal"  <%= parameter.Result.Normal ? 'checked' : '' %>> Normal -->
                                                                                <input type="checkbox"
                                                                                    name="Normal">Normal
                                                                            </div>
                                                                            <div>
                                                                                <!-- <input type="checkbox" name="Moderate"  <%= parameter.Result.Moderate ? 'checked' : '' %>> Moderate -->
                                                                                <input type="checkbox"
                                                                                    name="Moderate"> Moderate
                                                                            </div>
                                                                            <div>
                                                                                <!-- <input type="checkbox" name="Abnormal"  <%= parameter.Result.Abnormal ? 'checked' : '' %>> Abnormal -->
                                                                                <input type="checkbox"
                                                                                    name="Abnormal"> Abnormal
                                                                            </div>
                                                                            <% } %>
                                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                    <% }); %>
                    </div>
                </div>
              </div>

           <%}%>
            
        <% }); %>
    </div>
</div>