
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylePrj/cardstyle.css">
</head>
<body>
    
<!-- card section -->
<div class="container col-10 mt-0 ">
    <div class="row  align-content-center mt-0">
        <% if (activeDoctors!="") { %>
          <% activeDoctors.forEach(doctor => { %>
            <section class="mx-auto my-lg-1" style="max-width: 23rem;">
                <div class="card testimonial-card mt-2 mb-3">
                   <div class="card-up aqua-gradient"></div>
                   <div class="avatar mx-auto white">
                       <img src="/uploads/<%= doctor.mobileId %>/<%= doctor.doctorPicture%>
                       " class="rounded-circle img-fluid imagedoctor" 
                       onerror="this.src='/assets/AltPictureDoctor.jpg'"/>
                   </div>
                   <div class="card-body text-center">
                        <div class="text-limit">
                           <h4 class="card-title font-weight-bold"><%= doctor.FullName  %></h4>
                           <h4 class="card-title font-weight-bold"><%= doctor.takhasos %></h4>
                        </div>
                       <hr>
                       <p class="text-address-limit">
                       آدرس : <%= doctor.address%>
                       <% if (doctor.mondayWork!="") {%>
                       <br>
                       صبح ها:<%= doctor.mondayWork%>
                       <%}%>
                       <% if (doctor.afternonWork!="") {%>
                       <br> 
                       عصر ها:<%= doctor.afternonWork%>
                       <%}%>
                       </p>
                       <hr>
                       <a href="/dashboard/doctorProfile/<%= doctor._id %>" class="btn btn-primary ">سابقه کاری </a>
                       <a href="/dashboard/nobatDoctor/<%= doctor._id  %>" class="btn btn-primary ml-2">اخذ نوبت</a>
                   </div>
               </div>
           </section>
          <% }) %>
        <% } %>
        
    </div>    
</div>
<!-- end card section -->
<!-- site Anonsment -->
<div id="test">
    <p class="h2 text-center text-bg-info rounded rounded-4 ">پزشک محترم همین جا فوری ثبت نام کنید و بلافاصله صاحب یک  سایت  برای مطب تون بشید!
        <br>
     <a href="dashboard/getHelp" class=" fa fa-external-link text-danger text-decoration-none  m-3"> اطلاعات بیشتر</a>   
 </div> 
<div id="test">
    <p class="h2 text-center text-bg-info rounded rounded-4 ">پزشک محترم  گزارش اکوی Echo  قلب - رایگان (با هوش مصنوعی)
        <br>
     <a href="dashboard/EchoForAll" class="text-danger text-decoration-none  m-3"> <i class="fa fa-heartbeat text-dark m-1"></i>همین جا کلیک کن</a>
    </p>  
 </div> 
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.slim.min.js"></script>  
</body>
</html>