<div class="accordion mt-1" id="accordionEcho12">
    <% data12.forEach((item, index) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>echo12" aria-expanded="true" aria-controls="collapse<%= index %>echo12">
                    <img src="/assets/heartdoctor.png" alt="Icon" style="width: 30px;height: 30px;margin-right: 5px;" class="icon-small"> <%= item.title %>
                    <%= item.title %>
                </button>
            </h2>
            <div id="collapse<%= index %>echo12" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionEcho12">
                <div class="accordion-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Stage</th>
                                <th>Definition</th>
                                <th>Valve Anatomy</th>
                                <th>Valve Hemodynamics</th>
                                <th>Hemodynamic Consequences</th>
                                <th>Symptoms</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% item.parameters.forEach(parameter => { %>
                                <tr>
                                    <td data-label="Select"><input type="checkbox" name="select"></td>
                                    <td data-label="Stage"><%= parameter.stage %></td>
                                    <td data-label="Definition"><%= parameter.definition %></td>
                                    <td data-label="Valve Anatomy"><%= parameter.valve_anatomy %></td>
                                    <td data-label="Valve Hemodynamics">
                                        <% if (typeof parameter.valve_hemodynamics === 'object') { %>
                                            Mild AS: <%= parameter.valve_hemodynamics.mild_as %><br>
                                            Moderate AS: <%= parameter.valve_hemodynamics.moderate_as %>
                                        <% } else { %>
                                            <%= parameter.valve_hemodynamics %>
                                        <% } %>
                                    </td>
                                    <td data-label="Hemodynamic Consequences"><%= parameter.hemodynamic_consequences %></td>
                                    <td data-label="Symptoms"><%= parameter.symptoms %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% }) %>
</div>