
<div class="accordion mb-1" id="accordionecho1">
    <% data1.forEach((item, index) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>echo1" aria-expanded="true" aria-controls="collapse<%= index %>echo1" style="font-family: Vazir;">
                    <img src="/assets/heartgood.png" alt="Icon" style="width: 30px;height: 30px;margin-right: 5px;" class="icon-small"> <%= item.title %>
                </button>
            </h2>
            <div id="collapse<%= index %>echo1" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>echo1" data-bs-parent="#accordionecho1">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Parameter</th>
                                    <th>Male (Mean ± SD)</th>
                                    <th>Male (Range)</th>
                                    <th>Female (Mean ± SD)</th>
                                    <th>Female (Range)</th>
                                    <th>User Value</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% item.parameters.forEach(parameter => { %>
                                    <tr>
                                        <td data-label="Select"><input type="checkbox" name="select"></td>
                                        <td data-label="Parameter"><%= parameter.parameter %></td>
                                        <td data-label="Male (Mean ± SD)"><%= parameter.male.mean_sd %></td>
                                        <td data-label="Male (Range)"><%= parameter.male.range %></td>
                                        <% if (parameter.female) { %>
                                            <td data-label="Female (Mean ± SD)"><%= parameter.female.mean_sd %></td>
                                            <td data-label="Female (Range)"><%= parameter.female.range %></td>
                                        <% } else { %>
                                            <td data-label="Female (Mean ± SD)"></td>
                                            <td data-label="Female (Range)"></td>
                                        <% } %>
                                        <td data-label="User Value">
                                            <input type="text" name="userValue" value="<%= parameter.userValue || '' %>" class="form-control" disabled>
                                            <label for="userValueCheckbox">select</label>
                                            <input type="checkbox" name="uservalue-select">
                                        </td>
                                        <td class="result-checkboxes" data-label="Result" class="d-sm-flex">
                                            <label><input type="checkbox" name="normal" disabled <%= parameter.result && parameter.result.normal ? 'checked' : '' %>> Normal</label>
                                            <label><input type="checkbox" name="moderate" disabled <%= parameter.result && parameter.result.moderate ? 'checked' : '' %>> Moderate</label>
                                            <label><input type="checkbox" name="abnormal" disabled <%= parameter.result && parameter.result.abnormal ? 'checked' : '' %>> Abnormal</label>
                                            <label><input type="checkbox" name="selectResult" <%= parameter.result && true ? 'checked' : '' %>>select</label>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
