<div class="accordion mt-1" id="accordionEcho2">
    <% data2.forEach((item, index) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>echo2" aria-expanded="true" aria-controls="collapse<%= index %>echo2">
                    <img src="/assets/heartusb.png" alt="Icon" style="width: 30px;height: 30px;margin-right: 5px;" class="icon-small"> <%= item.title %>
                    <%= item.title %>
                </button>
            </h2>
            <div id="collapse<%= index %>echo2" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>echo2" data-bs-parent="#accordionEcho2">
                <div class="accordion-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Parameter</th>
                                <th>Male Range</th>
                                <th>Female Range</th>
                                <th>User Value</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% item.parameters.forEach(parameter => { %>
                                <tr>
                                    <td data-label="Select"><input type="checkbox" name="select"></td>
                                    <td data-label="Parameter"><%= parameter.parameter %></td>
                                    <td data-label="Male Range"><%= parameter.male.range %></td>
                                    <td data-label="Female Range"><%= parameter.female.range %></td>
                                    <td data-label="User Value">
                                        <input type="text" name="uservalue" class="form-control" disabled>
                                        <input type="checkbox" name="uservalue-select" id="2uservalue-<%= index %>">
                                        <label for="2uservalue-<%= index %>">select</label>
                                    </td>
                                    <td data-label="Result" class="d-sm-flex">
                                        <div>
                                            <input type="checkbox" id="normal-<%= index %>" name="result" value="Normal" disabled>
                                            <label for="normal-<%= index %>">Normal</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="moderate-<%= index %>" name="result" value="Moderate" disabled>
                                            <label for="moderate-<%= index %>">Moderate</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="abnormal-<%= index %>" name="result" value="Abnormal" disabled>
                                            <label for="abnormal-<%= index %>">Abnormal</label>
                                        </div>
                                        <hr>
                                        <input class="m-1" type="checkbox" name="selectResult" id="selectResult-<%= index %>">
                                        <label for="selectResult-<%= index %>" >select</label>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% }) %>
</div>