<div class="accordion mt-1" id="accordionecho3">
    <% data3.forEach((item, index) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                    <img src="/assets/heartline.png" alt="Icon" style="width: 30px;height: 30px;margin-right: 5px;" class="icon-small"> <%= item.title %>
                </button>
            </h2>
            <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <% if (path!='EchoForAll') { %>
                                 <th>Select</th>
                                <% } %>
                                <th>Parameter</th>
                                <th>20-40 years</th>
                                <th>40-60 years</th>
                                <th>>60 years</th>
                                <th>User Value</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% item.parameters.forEach(parameter => { %>
                                <tr>
                                    <% if (path!='EchoForAll') { %>
                                    <td data-label="Select"><input type="checkbox" name="select"></td>
                                    <% } %>
                                    <td data-label="Parameter"><%= parameter.parameter %></td>
                                    <td data-label="20-40 years">
                                        Mean ± SD: <%= parameter["20-40 years"].mean_sd %><br>
                                        CI: <%= parameter["20-40 years"].ci %>
                                    </td>
                                    <td data-label="40-60 years">
                                        Mean ± SD: <%= parameter["40-60 years"].mean_sd %><br>
                                        CI: <%= parameter["40-60 years"].ci %>
                                    </td>
                                    <td data-label=">60 years">
                                        Mean ± SD: <%= parameter[">60 years"].mean_sd %><br>
                                        CI: <%= parameter[">60 years"].ci %>
                                    </td>
                                    <td data-label="User Value">
                                        <input type="text" name="uservalue" class="form-control">
                                        <% if (path!='EchoForAll') { %>
                                         <input type="checkbox" name="uservalue-select" id="3uservalue-select-<%= index %>">
                                         <label for="3uservalue-select-<%= index %>">select</label>
                                        <% } %> 
                                    </td>
                                    <td data-label="Result" class="result-checkboxes">
                                        <label for="normal-<%= index %>"><input type="checkbox" id="normal-<%= index %>" name="Normal"  value="normal"> Normal</label>
                                        <label for="moderate-<%= index %>"><input type="checkbox" id="moderate-<%= index %>" name="Moderate"  value="moderate">Moderate</label>
                                        <label for="abnormal-<%= index %>"><input type="checkbox" id="abnormal-<%= index %>" name="Abnormal"  value="abnormal">Abnormal</label>
                                        <% if (path!='EchoForAll') { %>
                                          <label for="selectResult<%= index %>"><input type="checkbox" name="selectResult"  id="selectResult<%= index %>">select</label>  
                                        <% } %>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% }) %>
</div>