<div class="accordion mt-1" id="accordionEcho6">
    <% data6.forEach((item, index) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>echo6" aria-expanded="true" aria-controls="collapse<%= index %>echo6">
                    <img src="/assets/heartgosfand.png" alt="Icon" style="width: 30px;height: 30px;margin-right: 5px;" class="icon-small"> <%= item.title %>
                </button>
            </h2>
            <div id="collapse<%= index %>echo6" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <% if (path!='EchoForAll') { %>
                                <th>Select</th>
                                <% } %>
                                <th>Parameter</th>
                                <th>Mean ± SD</th>
                                <th>Normal Range</th>
                                <th>User Value</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% item.parameters.forEach(parameter => { %>
                                <tr>
                                    <% if (path!='EchoForAll') { %>
                                    <td data-label="Select"><input type="checkbox" name="select"></td>
                                    <% } %>
                                    <td data-label="Parameter"><%= parameter.parameter %></td>
                                    <td data-label="Mean ± SD">
                                        <% if (parameter.men && parameter.women) { %>
                                            Men: Mean ± SD: <%= parameter.men.mean_sd %><br>
                                            Women: Mean ± SD: <%= parameter.women.mean_sd %>
                                        <% } else { %>
                                            Mean ± SD: <%= parameter.mean_sd %>
                                        <% } %>
                                    </td>
                                    <td data-label="Normal Range">
                                        <% if (parameter.men && parameter.women) { %>
                                            Men: <%= parameter.men.normal_range %><br>
                                            Women: <%= parameter.women.normal_range %>
                                        <% } else { %>
                                            <%= parameter.normal_range %>
                                        <% } %>
                                    </td>
                                    <td data-label="User Value">
                                        <input type="text" name="uservalue" class="form-control" >
                                        <% if (path!='EchoForAll') { %>
                                        <input type="checkbox" name="uservalue-select" id="uservalue-<%= index %>">
                                        <label for="uservalue-<%= index %>">select</label>
                                        <% } %>
                                    </td>
                                    <td data-label="Result" class="result-checkboxes">
                                            
                                            <label for="normal-<%= index %>"><input type="checkbox" id="normal-<%= index %>" name="Normal" value="Normal"> Normal</label>
                                            <label for="moderate-<%= index %>"> <input type="checkbox" id="moderate-<%= index %>" name="Moderate" value="Moderate">Moderate</label>
                                            <label for="abnormal-<%= index %>"> <input type="checkbox" id="abnormal-<%= index %>" name="Abnormal" value="Abnormal">Abnormal</label>
                                        <% if (path!='EchoForAll') { %>
                                        <label for="selectResult-<%= index %>"> <input type="checkbox" name="selectResult" id="selectResult-<%= index %>"> select</label>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% }) %>
</div>

