<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!--list sick  -->
     <div class="col-8 mx-4 mt-4 ">
      <% if (Object.keys(UserList).length === 0) { %>
        <h4 class="text-center text-danger mt-5 ">جستجوی بدون نتیجه قابل نمایش!</h4>
      <% } else {%>
        <h4 class="text-center text-danger mt-5">برای انتخاب روی نام کاربر کلیک نمایید</h4>  
      <% } %>
        <table id="ListSickTable"  class="table  mx-3 mt-1 align-middle table-sm table-bordered table-hover table-striped table-primary p-2 mt-1 m-4 text-center">
          <thead id="ff" class="table-light">
           <tr id="gg" class="table-primary">
             <th id="h"  scope="col"  onclick="sortTable(0,'ListSickTable')" >نام پزشک</th>
             <th id="g"  scope="col"  onclick="sortTable(1,'ListSickTable')">نظر کاربر</th>
             <th id="hh" scope="col"  onclick="sortTable(2,'ListSickTable')" >تاید انتشار</th>
             <th id="hh" scope="col"  onclick="sortTable(3,'ListSickTable')" >کاربرنظردهنده</th>
             <th id="hh" scope="col" class="col-md-2" onclick="sortTable(4,'ListSickTable')" >تاریخ ایجاد</th>
             <th id="hh" scope="col"  >تایید/ذخیره</th>

           </tr>
          </thead>
            <tbody>
         <% let Iid=0 %>
                 <% if (Object.keys(UserList).length != 0) { %>
                   <% UserList.forEach(Person=> { %>
                    <% Iid++ %>   
                        <form action="/dashboard/AdminSaveNazarat/" method="POST">
                                         <tr id="<%= Iid  %>" class="" onclick="SelctSick(this)" >
                                           <td id="tdDoctorFullName">
                                               <%= Person.DoctorFullName %>
                                           </td>
                                           <td id="tdNazarKarbar"  class="m-0 p-0">
                                              <input type="text" value=" <%= Person.NazarKarbar %>" name="NazarKarbar">
                                           </td>
                                           <td id="tdAprovNazar">
                                            <input  type="checkbox"  name="AprovNazar" 
                                            <% if (Person.AprovNazar) { %>
                                              checked
                                            <% } %>
                                            >      
                                           </td>
                                           <td id="tdKarbarFullName">
                                               <%= Person.KarbarFullName %>
                                           </td>
                                           <td id="tdcrateDate">
                                               <%= moment(Person.crateDate).format("jYYYY/jMM/jDD") %>
                                           </td>
                                            <td id="tdSave" scope="row" class="col-1"><button type="submit" class="fa fa-save m-1"></button></td>
                                            <input  name="IdRecord" type="text" value="<%= Person._id %>" hidden>
                                         </form>
                                       </tr>
                   <% }) %>     
                 <% } %>
        
            </tbody>
        </table>
     </div> 
</body>

</html>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/jquery.min.js"></script>

<script src="/css/extensions/bootstrap-table-natural-sorting.js"></script>
<script src="/parsianCallender/dist/mds.bs.datetimepicker.js" type="text/javascript"></script>
<script src="/jsPrj/minCallender.js"></script>
<!--abave🔺  needs for persiancallender -->
<script src="/public/switch.js"></script>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/jsPrj/MatabView.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>