<!DOCTYPE html>
<html lang="fa" dir="rtl" class="h-100" data-bs-theme="auto">

<head>
    <script src="/public/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.112.5">
    <title>دکتر پیش تو</title>


    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/cardstyle.css">

</head>

<body class="rtl">
    <!-- card doctor section -->
    <div class="container mt-2 mb-5 py-0">
        <div class="row border ">
            <section class=" col-sm-4 offset-sm-4">
                <div class="card testimonial-card mt-2 mb-3">
                    <div class="card-up aqua-gradient"></div>
                    <div class="avatar mx-auto white">
                        <img src="/uploads/<%= doctor.mobileId %>/<%= doctor.doctorPicture %>" class="rounded-circle img-fluid"
                        onerror="this.src='/assets/AltPictureDoctor.jpg'">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title text-center font-weight-bold"> <%= doctor.FullName %> </h4>
                        <h5 class="card-text text-center"><%= doctor.takhasos %></h5>
                    </div>
                    <p class="text-light align-self-center text-bg-primary rounded-4 p-3 h6"><%= `امتیاز ${Emtiaz} از 100 `  %></p>
                </div>
            </section>
        </div>
    </div>
    <!--END card doctor section END -->
    <!--button section  -->
    <div class="container">
        <div class="row justify-content-around">
            <a href="/dashboard/nobatDoctor/<%= doctor._id  %>" class="btn btn-outline-success  col-5 col-md-4" >نوبت حضوری</a>
            <a class="btn btn-outline-dark col-5  col-md-4">ویزیت مجازی</a>
        </div>
    </div>
    <!--END button section  END-->
       <!-- addres section-->
       <div class="container">
        <h4 class="text-light mt-4 p-2 py-3 border rounded-circle text-center col-4 col-lg-2 bg-primary">آدرس مطب</h4>
        <p class="text-bg-light text-center border-2 border border-secondary rounded-2 p-4">  
            <%= doctor.address %>
            <hr>
                       آدرس : <%= doctor.address%>
                       <% if (doctor.mondayWork!="") {%>
                       <br>
                       صبح ها:<%= doctor.mondayWork%>
                       <%}%>
                       <% if (doctor.afternonWork!="") {%>
                       <br> 
                       عصر ها:<%= doctor.afternonWork%>
                       <%}%>
                      </p>
                          تلفن: <%= doctor.tellphone%>  
        </p>
    </div>
    <!--end addres section-->
    <!--Biographi section  -->
    <div class="container">
        <h4 class="text-light mt-4 p-2 py-3 border rounded-circle text-center col-4 col-lg-2 bg-primary">بیوگرافی پزشک
        </h4>
        <p class="text-bg-light text-center border-2 border border-secondary rounded-2 p-4">
          <%= doctor.workExperience   %>
        </p>
    </div>
    <!-- end Biographi section  -->
 
    
    <!-- notes section -->
    <div class="container">
        <h4 class="text-light mt-4 p-2 py-3 border rounded-circle text-center col-4 col-lg-2 bg-success">نظرات</h4>
        <button class="btn btn-outline-success mt-2" onclick="SabtNazar(`<%= doctor.FullName  %>` ,`<%= doctor._id  %>`, `<%= user.FullName  %>`,`<%= user._id %>`  )" >ثبت نظر</button>
     <% if (NazaratDoctor=="") { %>
      <p class="text-danger">تا کنون برای این پزشک نظری ثبت نشده است</p>
     <% } %>   
    <% NazaratDoctor.forEach(Nazar => { %>
    <div class="card col-8 mx-auto  rounded-4">
        <div class="card-title bg-primary text-light rounded-4">
            <h6 class="col-lg-3 col-sm-10 m-1 p-1 "> <%= Nazar.KarbarFullName  %> </h6>
            <h6 class="col-lg-3 col-md-10 m-1 p-1 p-0"><%= moment(Nazar.crateDate).format('HH:MM ::: jYYYY/jMM/jDD ')  %></h6>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p class="text-bg-light"><%= Nazar.NazarKarbar %></p>
            </div>
        </div> 
        <div class="card-footer bg-warning">
            <div class="row col-lg-4">
                <% for( let i = 1; i <= Nazar.SumStars; i++ ) { %>
                 <p id=`StarNz${i}` class="col-1 text-primary m-0"><i class="fa fa-star"></i></p>
                <% } %>
                <% for( let i = 4; i > Nazar.SumStars; i-- ) { %>
                 <p id=`StarNz${i}` class="col-1 text-primary m-0"><i class="fa fa-star-o"></i></p>
                <% } %>
            </div>
        </div>
    </div>
    <% }) %>
    </div>
    <!-- end  notes section -->
    <script src="/jsPrj/DoctorProfile.js"></script>
</body>

</html>