<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylePrj/styleTable.css">
    
</head>
<body>
    <script>
      var disableBeforeDate=("<%= disableBeforeDate %>"==""? 
          "":new Date("<%= disableBeforeDate %>")) 
    </script>
    <div class="row mt-5 table-responsive p-4 mx-5 " >
        <!-- section Amar -->
        <% if (HozorCountMon!=0 ||VisitCountMon!=0) { %>
            <h5 class="rounded rounded-4 bg-info col-lg-1 text-center p-2 m-1">حاضرین صبح
              <em class="m-1"><%=HozorCountMon%></em>
            </h5>  
            <h5 class="rounded rounded-4 bg-info col-lg-1 text-center p-2 m-1">ویزیت صبح
              <em class="m-2"><%=VisitCountMon%></em>
            </h5>
       <% } %>
          <% if (HozorCountAfter!=0 || VisitCountAfter!=0 ) { %>
              <h5 class="rounded rounded-4 bg-info col-lg-1 text-center p-2 m-1">حاضرین عصر
                  <em class="m-1"><%=HozorCountAfter%></em>
                </h5>  
                <h5 class="rounded rounded-4 bg-info col-lg-1 text-center p-2 m-1">ویزیت عصر 
                  <em class="m-2"><%=VisitCountAfter%></em>
                </h5>
          <% } %>
        <!--check nobat dariem?! Loop through NobatsResult and Day.nobats -->
        <table id="ListNobats"  class="table mx-2  align-middle table-sm table-bordered table-hover table-striped table-primary p-2 mt-5 m-4">
              <thead id="ff" class="table-light">
                <tr id="gg" class="table-primary">
                    <th id="h" scope="col"  onclick="sortTable(0)" >نام</th>
                    <th id="g" scope="col"  onclick="sortTable(1)">موبایل</th>
                    <th id="hh" scope="col" onclick="sortTable(2)" >کد ملی</th>
                    <th id="ll" scope="col" onclick="sortTable(3)">نوبت</th>
                    <th id="ffg" scope="col" onclick="sortTable(4)" >تاریخ</th>
                    <th id="jj" scope="col">ویزیت</th>
                    <th id="kk" scope="col" onclick="sortTable(6)">حضور</th>
                    <th id="kk" scope="col" onclick="sortTable(7)">پزشک</th>
                    <th id="kk" scope="col" onclick="sortTable(8)">اتمام</th>
                    <th id="dfds" scope="col">پرداختی</th>
                    <th id="ffdsfdsf" scope="col">توضیح</th>
                    <th id="k" scope="col">ذخیره</th>
                    <th id="k" scope="col" onclick="sortTable(12)">نوع نوبت</th>
                </tr>
            </thead>
            <tbody>
                  
                  <% let Iid=0 %>
                  <% if (Object.keys(NobatsResult).length === 0) { %>
                    <h4 class="text-center text-danger">فاقد نوبت در این روز!</h4>
                  <% } else {%>
                    <h4 class="text-center text-danger">بیمار با رنگ آبی ویزیت شده و به رنگ  قرمز در انتظار ویزیت </h4>
                    <% NobatsResult.forEach(Day=> { %>
                        <% if (Day.nobats!="") { %>
                            <% Day.nobats.reverse().forEach(nobat=> { %>
                                          <tr id="<%= Iid  %>" class="" >
                                            <% Iid++ %>
                                            <% if (nobat.Visit) { %>
                                            <% Iid++ %>
                                                <td id="<%= Iid %>"  class="text-primary col-1">
                                                    <%= nobat.FullName %>
                                                </td>
                                            <% } else { %>
                                                <% Iid++ %>
                                                <td id="<%= Iid %>" class="text-danger col-1">
                                                    <%= nobat.FullName %>
                                                </td>
                                             <% } %>   
                                            <% Iid++ %>
                                            <td id="bbb" class="col-1">
                                                <%=  nobat.mobileSick %>
                                            </td>
                                            <td id="jb" class="col-1">
                                                <%= nobat.codemilli %>
                                            </td>
                                            <td id="bb" class="col-1 col">
                                                <%= nobat.nobatTime %>
                                            </td>
                                            <td id="lb" class="col-1"><%= moment(Day.nobatDay).format("jYYYY/jMM/jDD")  %></td>
                                            
                                            <td id="ppb" class="col-1">
                                                <form action="/dashboard/LightPenvisit" method="get">
                                                    <div class="custom-control align-content-center">
                                                        <button type="submit" name="SickCodemilli" value="<%= nobat.codemilli %>" class="fa fa-pencil m-2"  ></button>
                                                    </div>
                                                    <input  name="FullName" type="text" value="<%= nobat.FullName %>" hidden>
                                                    <input  name="IdRecord" type="text" value="<%= Day._id %>" hidden>
                                                    <input  name="IdNobat" type="text" value="<%= nobat._id %>" hidden>
                                                </form>
                                            </td>
                                            <!--form  SaveStateNobat  -->
                                            <form id="SaveStateNobat" action="/dashboard/SaveStateNobat/" method="post">
                                            <td id="HozerIdCheck">
                                                <div class="custom-control custom-checkbox col-1">
                                                    <% if ( nobat.Hozor==true ) { %>
                                                        <input type="checkbox" class="custom-control-input" name="Hozor" checked>
                                                    <% } else{ %>
                                                        <input type="checkbox" class="custom-control-input" name="Hozor" >
                                                    <% } %>    
                                                </div>
                                            </td>
                                            <td idٍ="ErjaIdCheck">
                                                <div class="custom-control custom-checkbox col-1">
                                                    <% if ( nobat.Erja==true ) { %>
                                                        <input type="checkbox" class="custom-control-input" name="Erja" checked>
                                                    <% } else{ %>
                                                        <input type="checkbox" class="custom-control-input" name="Erja" >
                                                    <% } %>    
                                                </div>
                                            </td>
                                            <td idٍ="VisitIdCheck">
                                                <div class="custom-control custom-checkbox col-1">
                                                    <% if ( nobat.Visit==true ) { %>
                                                        <input type="checkbox" class="custom-control-input" name="Visit" checked>
                                                    <% } else{ %>
                                                        <input type="checkbox" class="custom-control-input" name="Visit" >
                                                    <% } %>    
                                                </div>
                                            </td>
                                            <td id="PardakhtiInput" class="col-1">
                                                <input type="text" class="input-group col-1" name="Pardakhti" value="<%= nobat.Pardakhti %>">
                                            </td>
                                            <td id="ToziehInput" class="col-1">
                                                <input type="text" class="input-group " name="Tozieh" value="<%= nobat.Tozieh %>">
                                            </td>
                                                <td id="gg" scope="row"><button type="submit" class="fa fa-save m-1"></button></td>
                                                <input  name="IdRecord" type="text" value="<%= Day._id %>" hidden>
                                                <input  name="IdNobat" type="text" value="<%= nobat._id %>" hidden>
                                            </form>
                                            <td id="jb" class="col-1">
                                                <% if ( Day.NobatInternet===true) { %>
                                                 اینترنتی
                                                <% } else{ %>
                                                    
                                                 حضوری   
                                                <% } %>
                                            </td> 
                                        </tr>
    
                            <% }) %>
                        <% } else { %>
                            <!-- <h4 class="text-center text-danger">فاقد نوبت در این روز!</h4> -->
                               
                        <% } %> 
                    <% }) %>
                  <% } %>
            </tbody>
       </table>
    </div>
            


</body>

</html>
<!--🔻 needs for persiancallender -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/css/extensions/bootstrap-table-natural-sorting.js"></script>
<script src="/parsianCallender/dist/mds.bs.datetimepicker.js" type="text/javascript"></script>
<script src="/jsPrj/minCallender.js"></script>
<!--abave🔺  needs for persiancallender -->
<script src="/public/switch.js"></script>
<script src="/public/js/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/jsPrj/MatabView.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>