<% if (Mynobats=="") { %>
  <p id="msgResv" class="mt-5 p-2 align-self-center border border-2 border-warning">مراجعه کننده محترم شما تاکنون نوبتی رزرو نکرده اید</p>
 <% } %>
 

  <div class="card-group m-5">
    <% let UserNobat=[]; %>
    <% let NumNobat %>
    <% let i=0 %>
      <% Mynobats.forEach(roz=> { %>
         <!-- fetch roz at frest -->
        <% UserNobat=roz.nobats.filter(nobat=>nobat.mobileSick!=""); %>
        <%= NumNobat =UserNobat.length %>
        <!-- fetch nobats of day  -->
        <% UserNobat.forEach(nobat=> { %>
             <!--start generated cards  section-->
             <% if (i==0 ) { %>
                <div class="row ">

             <% } %> 

             <% if (NumNobat=1) { %>
             <div class="card border-3 border-black" id="<%=roz._id %>#<%= nobat._id %>" >
             <% } else { %> 
              <div class="card border-3 border-black col-sm-3 col-md-6 col-lg-4  " id="<%=roz._id %>#<%= nobat._id %>" >
              <% } %>
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" id="<%=roz._id %>-<%= nobat._id %>">
                  <%=` دکتر  ${roz.doctorName}` %>
                  <br>
                  <%= `تاریخ  ${moment(roz.nobatDay).format('jYYYY/jMM/jDD')}  ساعت  ${nobat.nobatTime}` %>
                </h5>
                <div class="">
                  <p class="card-text text-danger p-1 m-2 " id="<%=roz._id %>,<%= nobat._id %>"
                   onclick="RemoveNobat(event)"  >حذف نوبت <small class="text-muted fa fa-trash-o" ></small></p>
                </div>
              </div>
             </div>
             <% i++ %>
             <% if ((i  === 3)||(NumNobat=1)) { %>
             </div>
             <% i=0 %>
             <% } %>
             <!--End generated cards  section-->
             
          <% }) %>
      <% }) %>
      
  </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.slim.min.js"></script>  
  <script src="/jsPrj/MyNobats.js"></script>
