<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/stylePrj/cardstyle.css">
</head>

<body>
    <div class="container">
        <!-- identifydoctors section -->
        <%- include("../include/successmessage.ejs") %>
        <div class="d-flex justify-content-between col-10 mt-1 ">
            <div class="text-black w-100 border-bottom border-secondary"> مشخصات فردی پزشک </div>
            <button class="collapseBtn" id="btndoctoridentify" onclick="collapseIdentify()">
                <i class="fa fa-plus" id="collapseIdentifyIcon"></i></button>
            </div>
        <div class="col-10 mt-2 mb-1 bg-light" id="divdoctorIdentify" style="display: none;">
            <form class="form-floating mt-2" action="/users/add-doctorInfo" method="post">
                <!--the messages from server for errors -->
                 <%- include("../include/message.ejs") %>
                <!-- end the messages from server for errors -->
               
                <div class="row mx-auto gx-2">
                    <div class="col-6 form-floating">
                        <div class="form-floating mb-2 formidentifydoctor">
                            <input type="text" class="form-control" id="namefamily" name="FullName" value=" <%- infoBack.FullName %>">
                            <label for="namefamily" class="col-form-label-sm">نام ونام خانوادگی </label>
                        </div>
                        <div class="form-floating mb-2 mt-2 formidentifydoctor">
                            <input type="text" class="form-control" id="takhasosDoctor" name="takhasos" value=" <%- infoBack.takhasos %>">
                            <label for="takhasos" class="label-identifydoctors col-form-label-sm">عنوان تخصصی</label>
                        </div>

                        <div class="form-floating mb-2 mt-2 formidentifydoctor">
                            <input type="text" class="form-control" id="codeMili" name="codemilli" value=" <%- infoBack.codemilli %>">
                            <label for="codeMili" class="label-identifydoctors col-form-label-sm">کد ملی</label>
                        </div>
                        <div class="form-floating mb-2 formidentifydoctor">
                            <input type="text" class="form-control" id="nezamNumber" name="nezam" value=" <%- infoBack.nezam %>">
                            <label for="nezamNumber" class="label-identifydoctors col-form-label-sm">شماره نظام
                                پزشکی</label>
                        </div>
                        <div class="form-floating mb-2 formidentifydoctor">
                            <input type="text" class="form-control" id="mondayKhadmat" name="mondayWork" value=" <%- infoBack.mondayWork %>">
                            <label for="mondayKhadmat" class="label-identifydoctors col-form-label-sm">ساعت کار-
                                صبح</label>
                        </div>
                        <div class="form-floating mb-2 formidentifydoctor">
                            <input type="text" class="form-control" id="noneKhadmat" name="afternonWork" value=" <%- infoBack.afternonWork %>">
                            <label for="noneKhadmat" class="label-identifydoctors col-form-label-sm">ساعت
                                کار-عصر</label>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="form-floating mb-2 formidentifydoctor ">
                            <input type="email" class="form-control" id="Email" name="Email" value=" <%- infoBack.Email %>">
                            <label for="Email" class="label-identifydoctors col-form-label-sm">Email</label>
                        </div>
                        <div class="form-floating mb-2 formidentifydoctor ">
                            <input type="text" class="form-control" id="address" name="address" value=" <%- infoBack.address %>">
                            <label for="address" class="label-identifydoctors col-form-label-sm">آدرس مطب</label>
                        </div>
                        <div class="form-floating mb-2 formidentifydoctor ">
                            <input type="text" class="form-control" id="tellnumber" name="tellphone" value=" <%- infoBack.tellphone %>">
                            <label for="tellnumber" class="label-identifydoctors col-form-label-sm">تلفن مطب</label>
                        </div>
                        <div class="form-floating mb-2 formidentifydoctor ">
                            <input type="text" class="form-control" id="mobileId" name="mobileId" value=" <%- infoBack.mobileId %>">
                            <label for="mobile" class="label-identifydoctors col-form-label-sm">موبایل</label>
                            <small class="text-danger">موبایل/(شناسه کاربری)</small>
                        </div>
                        <div class="form-floating mb-2 formidentifydoctor">
                            <input type="password" class="form-control" id="PassWordramz" name="PassWord" value=" <%- infoBack.PassWord %>">
                            <label for="PassWordramz" class="label-identifydoctors col-form-label-sm">رمز ورود</label>
                        </div>
                        <div class="form-floating mb-2 formidentifydoctor ">
                            <input type="password" class="form-control" id="ConfirmPasswordramz" name="ConfirmPassword" value=" <%- infoBack.ConfirmPassword %>">
                            <label for="ConfirmPasswordramz" class="label-identifydoctors col-form-label-sm">تکرار رمز ورود</label>
                        </div>
                        <button type="submit" class="btn btn-success mt-2 ">ثبت مشخصات فردی پزشک</button>
                    </div>
                </div>
            </form>
        </div>
        <!--end identifydoctors section  -->
            
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/jsPrj/rejisterdoctors.js"></script>
   
    
</body>

</html>