<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/stylePrj/cardstyle.css">
</head>

<body>
    <div class="container"> <!-- main container-->
        <!-- identifydoctors section -->
        <%- include("../include/successmessage.ejs") %>
            <!-- strat of ordeinal user section 1 -->
            <div 
              <% if (user.nezam=="") { %>
                style="display: none;"
              <% } %>
              >
            <div class="d-flex justify-content-between col-10 mt-1 ">
                <div class="text-black w-100 border-bottom border-secondary"> مشخصات فردی پزشک </div>
                <button class="collapseBtn" id="btndoctoridentify" onclick="collapseIdentify()">
                    <i class="fa fa-plus" id="collapseIdentifyIcon"></i></button>
            </div>
            <div class="col-10 mt-2 mb-1 bg-light" id="divdoctorIdentify" style="display: none;">
                <form class="form-floating mt-2" action="/users/edit-doctorInfo/<%= user._id %>" method="post">
                    <!--the messages from server for errors & open section -->
                    <%- include("../include/message.ejs") %>
                        <!-- end the messages from server for errors -->
                        <div class="row mx-auto gx-2">
                            <div class="col-6 form-floating">
                                <div class="form-floating mb-2 formidentifydoctor">
                                    <input type="text" class="form-control" id="namefamily" name="FullName"
                                        value=" <%- infoBack.FullName %>">
                                    <label for="namefamily" class="col-form-label-sm">نام ونام خانوادگی </label>
                                </div>
                                <div class="form-floating mb-2 mt-2 formidentifydoctor">
                                    <input type="text" class="form-control" id="takhasosDoctor" name="takhasos"
                                        value=" <%- infoBack.takhasos %>">
                                    <label for="takhasos" class="label-identifydoctors col-form-label-sm">عنوان
                                        تخصصی</label>
                                </div>

                                <div class="form-floating mb-2 mt-2 formidentifydoctor">
                                    <input type="text" class="form-control" id="codeMili" name="codemilli"
                                        value=" <%- infoBack.codemilli %>" readonly>
                                    <label for="codeMili" class="label-identifydoctors col-form-label-sm">کد ملی</label>
                                </div>
                                <div class="form-floating mb-2 formidentifydoctor">
                                    <input type="text" class="form-control" id="nezamNumber" name="nezam"
                                        value=" <%- infoBack.nezam %>">
                                    <label for="nezamNumber" class="label-identifydoctors col-form-label-sm">شماره نظام
                                        پزشکی</label>
                                </div>
                                <div class="form-floating mb-2 formidentifydoctor">
                                    <input type="text" class="form-control" id="mondayKhadmat" name="mondayWork"
                                        value=" <%- infoBack.mondayWork %>">
                                    <label for="mondayKhadmat" class="label-identifydoctors col-form-label-sm">ساعت کار-
                                        صبح</label>
                                </div>
                                <div class="form-floating mb-2 formidentifydoctor">
                                    <input type="text" class="form-control" id="noneKhadmat" name="afternonWork"
                                        value=" <%- infoBack.afternonWork %>">
                                    <label for="noneKhadmat" class="label-identifydoctors col-form-label-sm">ساعت
                                        کار-عصر</label>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-floating mb-2 formidentifydoctor ">
                                    <input type="email" class="form-control" id="Email" name="Email"
                                        value=" <%- infoBack.Email %>">
                                    <label for="Email" class="label-identifydoctors col-form-label-sm">Email</label>
                                </div>
                                <div class="form-floating mb-2 formidentifydoctor ">
                                    <input type="text" class="form-control" id="address" name="address"
                                        value=" <%- infoBack.address %>">
                                    <label for="address" class="label-identifydoctors col-form-label-sm">آدرس
                                        مطب</label>
                                </div>
                                <div class="form-floating mb-2 formidentifydoctor ">
                                    <input type="text" class="form-control" id="tellnumber" name="tellphone"
                                        value=" <%- infoBack.tellphone %>">
                                    <label for="tellnumber" class="label-identifydoctors col-form-label-sm">تلفن
                                        مطب</label>
                                </div>
                                <div class="form-floating mb-2 formidentifydoctor ">
                                    <input type="text" class="form-control" id="mobileId" name="mobileId"
                                        value=" <%= infoBack.mobileId %>">
                                    <label for="mobile" class="label-identifydoctors col-form-label-sm">موبایل</label>
                                    <small class="text-danger">موبایل/(شناسه کاربری)</small>
                                </div>

                                <button type="submit" class="btn btn-success mt-2 ">ثبت مشخصات فردی پزشک</button>
                            </div>
                        </div>
                </form>
            </div>
            <!--end identifydoctors section  -->
            <!-- main section is displayed for authincated users -->
            
            <!-- holidays or disabledays -->
            <div class="d-flex justify-content-between col-10 mt-5 ">
                <div class="w-100 border-bottom border-secondary ">مشخص کردن روزهای تعطیل مطب </div>
                <button class="collapseBtn" id="btnDiableDays" onclick="collapseDiableDays()"><i class="fa fa-plus"
                        id="collapseDiableDaysIcon"></i></button>
            </div>
            <div class="col-10 mt-2  bg-light" id="divDiableDays" style="display: none;">
                <form action="/users/DisableDays/" method="POST">
                                <label for="" class="form-label text-danger p-2">روزهای تعطیل را مشخص کنید</label>
                                <div class="form-check form-check-inline border border-2 p-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="IdDay0" name="Day0" value="0" >
                                        <label class="form-check-label" for="IdDay0">شنبه</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="IdDay1" name="Day1" value="1">
                                        <label class="form-check-label" for="IdDay1">یکشنبه</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="IdDay2" name="Day2" value="2">
                                        <label class="form-check-label" for="IdDay2">دوشنبه</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="IdDay3" name="Day3" value="3">
                                        <label class="form-check-label" for="IdDay3">سه شنبه</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="IdDay4" name="Day4" value="4">
                                        <label class="form-check-label" for="IdDay4">چهارشنبه</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="IdDay5" name="Day5" value="5">
                                        <label class="form-check-label" for="IdDay5">پنج شنبه</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="IdDay6" name="Day6" value="6">
                                        <label class="form-check-label" for="IdDay6">جمعه</label>
                                    </div>
                                </div>    

                                <div class="form-group">
                                    <label for="" class="form-label">پیام کاری برای  بیماران</label>
                                    <textarea class="form-control" name="MessageWork" id="" cols="30"
                                        rows="10"><%= infoBack.MessageWork %></textarea>
                                </div>
                                <button type="submit" class="btn btn-success mt-2">ثبت </button>

                </form>
            </div>
            <!-- End of holidays or disabledays -->
           
            <!-- biographi doctor -->
            <div class="d-flex justify-content-between col-10 mt-5 ">
                <div class="text-black w-100 border-bottom border-secondary">خلاصه سابقه کاری</div>
                <button class="collapseBtn" id="btnBiographi" onclick="collapseBiographi()"><i class="fa fa-plus"
                        id="collapseBiographiIcon"></i></button>
            </div>
            <div class="col-10 mt-2  bg-light" id="divBiographi" style="display: none;">
                <% if (path=="/editworkExperience" ) { %>
                    <%- include("../include/errorworkExpereince.ejs") %>
                        <% } %>
                            <form action="/users/postworkExperience/<%= user._id %>" method="POST">
                                <div class="form-group">
                                    <label for="" class="form-label"> خلاصه سوابق کاری</label>
                                    <textarea class="form-control" name="workExperience" id="" cols="30"
                                        rows="10"><%= infoBack.workExperience %></textarea>
                                </div>
                                <button type="submit" class="btn btn-success mt-2">ثبت سوابق کاری</button>

                            </form>
            </div>
            <!-- end biographi doctor -->

            <!-- laws of site section -->
            <div class="d-flex justify-content-between col-10 mt-5 ">
                <div class="text-black w-100 border-bottom border-secondary">قوانین سایت</div>
                <button class="collapseBtn" id="btnselectplan" onclick="collapseLaws()"><i class="fa fa-plus"
                        id="colapseLawIcon"></i></button>
            </div>
            <div class="col-10 mt-2 bg-light" id="lowSection">
                <div id="divlowSection" style="display: none" class="mt-2 ">
                    <% if (path=="/AcceptLow" ) { %>
                        <%- include("../include/errorAcceptLow.ejs") %>
                            <% } %>
                                <div class="form-group">
                                    <div class="mb-3">
                                        <textarea class="form-control" id="lawsSite" rows="5"
                                            style="text-align: justify;">
مالکیت معنوی همچنین داده های ثبت شده در این سامانه متعلق به مدیرت سامانه بوده و کاربر براساس پلن انتخابی  از امکانات سایت استفاده می نماید.همچنین متعهد می گردم که ضمن بهره مندی از امکانات این سایت براساس قوانین جمهوری اسلامی ایران رفتار نمایم.
                        </textarea>
                                    </div>
                                </div>
                                <form action="/users/AcceptLaw/<%= user._id %>" method="POST">
                                    <div class="form-group">
                                        <div class="d-flex col-8 ">
                                            <input class="form-check-input border-danger" type="checkbox"
                                                name="acceptPolicy" id="flexCheckDefault" <% if (infoBack.acceptPolicy)
                                                { %>
                                            checked
                                            <% } %> >

                                                <input sstyle="width:20rem;" class="form-control p-0 m-1 col-6 border-0"
                                                    type="text" readonly
                                                    value="اینجانب <%-` ${user.FullName} `%>متن بالا را به دقت مطالعه نموده و شرایط آن را می پذیرم">
                                        </div>
                                        <button class="btn btn-success m-3">پذیرش قوانین</button>
                                    </div>
                                </form>
                </div>
            </div>
            <!-- end laws of site section -->
            </div> 
           <!-- end of ordeinal user Section1--> 
           
            <!-- selection password -->
            <div class="d-flex justify-content-between col-10 mt-5 ">
                <div class="text-black w-100 border-bottom border-secondary">عملیات رمز ورود </div>
                <button class="collapseBtn" id="btnchanagepass" onclick="collapsechangepass()"><i class="fa fa-plus"
                        id="changePasswordIcon"></i></button>
            </div>

            <div class="col-10 mt-2  bg-light" id="changePassSection">
                <div id="divChangePassword" style="display: none" class="mt-2 ">
                    <% if ( errorchangePass.length!==0 ) { %>
                        <%- include("../include/errorchangePass.ejs") %>
                            <% } %>
                                <form class="form-floating " action="/users/ResetPass/<%= user._id %>" method="post">
                                    <div class="form-floating mt-2">
                                        <input class="form-control" type="text" id="karbarId" name="OldPassEdit">
                                        <label for="karbarId">رمز قدیم</label>
                                    </div>
                                    <div class="form-floating mt-2">
                                        <input class="form-control" type="PassWord" id="ramz" name="PasswordEdit">
                                        <label for="ramz">رمز جدید</label>
                                    </div>
                                    <div class="form-floating mt-2">
                                        <input class="form-control" type="password" id="reramz"
                                            name="ConfirmPasswordEdit">
                                        <label for="reramz">تکرار رمز جدید</label>
                                    </div>
                                    <button type="submit" class="btn btn-success mt-2">ثبت رمز ورود</button>
                                </form>
                </div>
            </div>
            <!-- end selection password -->
            <!-- start ordinal user Section 2 --> 
            <div 
               <% if (user.nezam=="") { %>
                style="display: none;"
               <% } %>
            >  
            <!-- upload picture doctor -->
            <div class="d-flex justify-content-between col-10 mt-5 ">
                <div class="text-black w-100 border-bottom border-secondary">ارسال عکس پزشک</div>
                <button class="collapseBtn" id="btndoctoridentify" onclick="collapseUploadpic()"><i class="fa fa-plus"
                        id="collapseUploadpicIcon"></i></button>
            </div>
            <div class="col-10 mt-2  bg-light" id="divuploadpic" style="display: none;">
                <%- include("../include/errorEditUploadImage.ejs") %>

                    <form action="/users/EditUploadImage/<%= user._id %>" method="POST" enctype="multipart/form-data"
                        class="form-floating mb-2 formidentifydoctor">
                        <div class="form-label">
                            <label id="imageStatus" class="custom-file-label" for="selectedImage">
                                عکس مورد نظر را انتخاب کنید
                            </label>
                        </div>
                        <div class="d-flex col-10 col-sm-8 mb-2">
                            <div class="col-7">
                                <input type="file" class="form-control  border-info" id="selectedImage"
                                    name="doctorPicture" onchange="displaySelectedImage(event,'imageselected')">
                            </div>
                            <div class="col-3 mx-auto white ">
                                <img src="/assets/imagedoctors/mr1.png" class="rounded-circle img-fluid"
                                    id="imageselected" style="display:none" alt="woman avatar">
                            </div>
                        </div>
                        <input type="submit" value="ارسال و ثبت عکس" class="btn btn-success m-2" />
                    </form>

            </div>
            <!--end  upload picture doctor -->

            <!-- preview card -->
            <div class="d-flex justify-content-between col-10 mt-5 ">
                <div class="text-black w-100 border-bottom border-secondary">پیش نمایش کارت ویزیت</div>
                <button class="collapseBtn" id="btndoctoridentify" onclick="collapsePrepic()"><i class="fa fa-plus"
                        id="collapsePrepicIcon"></i></button>
            </div>
            <div class="col-10 mt-2  bg-light" id="divPrepic" style="display: none;">
                <div class="row align-content-center">
                    <section class="mx-auto my-5" style="max-width: 23rem;">
                        <div class="card testimonial-card mt-2 mb-3">
                            <div class="card-up aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img src="/uploads/<%= user.mobileId %>/<%= user.doctorPicture %>" class="rounded-circle img-fluid"
                                    onerror="this.src='/assets/AltPictureDoctor.jpg'">
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title font-weight-bold"><%= user.FullName %></h4>
                                <hr>
                                <h4 class="card-title font-weight-bold"><%= user.takhasos %></h4>
                                <hr>
                                <p class="card-addres"> آدرس : <%= user.address%>
                                     <% if (user.mondayWork!="") {%>
                                     <br>   
                                     صبح ها:<%= user.mondayWork%>
                                     <%}%>
                                     <br>   
                                     <% if (user.afternonWork!="") {%>
                                     عصر ها:<%= user.afternonWork%>
                                     <%}%>
                                    </p>
                                <p class="card-addres"> تلفن : <%= user.tellphone %> </p>
                                <hr>
                                <a href="#" class="btn btn-primary ">نظرات/سابقه کاری </a>
                                <a href="#" class="btn btn-primary ml-2">اخذ نوبت</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--end  preview card -->

            <div class="d-flex justify-content-between col-10 mt-5 ">
                <div class="text-black w-100 border-bottom border-secondary">ارسال مدارک</div>
                <button class="collapseBtn" id="btndoctoridentify" onclick="collapseUpload()"><i class="fa fa-plus"
                        id="collapseUploadIcon"></i></button>
            </div>
            <form class=" col-10 mt-2  bg-light" id="divupload" style="display: none;">
                <div class="col-5">
                    <input type="file" class="form-control" id="uploadfiledoctor">
                    <label id="sendStatus" for="" class="label-identifydoctors p-2 m-2 col-8"></label>
                    <div id="progressDiv" style="display: none">
                        <div class="progress">
                            <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <button type="button" onclick="uploadMadarek()" id="uploadMadrakk" class="btn btn-success mt-1">ثبت
                    و ارسال مدارک</button>
                </div>
            </form>
           <!--end upload file  -->

    <!-- select plane -->
    <div class="d-flex justify-content-between col-10 mt-5 ">
        <div class="text-black w-100 border-bottom border-secondary">انتخاب plan و پرداخت ها</div>
        <button class="collapseBtn" id="btnselectplan" onclick="collapseSelctPlane()"><i class="fa fa-plus"
                id="selctPlanIcon"></i></button>
    </div>
    <div class="col-10 mt-2" id="selectPlane">
        <div id="divSelectPlane" style="display: none" class="mt-2 ">
                <div class="container row row-cols-2">
                    <div class="form-check col mt-3">
                        <input class="form-check-input border-danger" type="radio" name="PlanSelected" id="radpriceM" 
                            onclick="setPricM()" value="نوبت اینترنتی ماهانه">
                        <label class="form-check-label" for="radpriceM">امکانات کامل سایت 6 ماهه<input
                                class="text-center border-0 border-bottom p-0 border-primary " id="pricm" type="text" 
                                value="5000,000" readonly>تومان</label>
                    </div>
                    <div class="form-check col mt-3">
                        <input class="form-check-input  border-danger" type="radio" name="PlanSelected" id="radpriceyear"
                             onclick="setPricY()" value="نوبت اینترنتی سالیانه">
                        <label class="form-check-label" for="radpriceyear">امکانات کامل سایت 12 ماهه<input id="priceyear" value="7000,000"
                                class="border-0 border-bottom border-primary text-center mb-2" type="text"
                                readonly>تومان</label>
                    </div>
                    <div class="form-check col mt-3">
                        <input class="form-check-input border-danger" type="radio" name="PlanSelected" id="radpriceFree"
                             onclick="setPricR()" value="کاربری رایگان">
                        <label class="form-check-label" for="radpriceFree">درخواست کاربری رایگان برای 10 روز(فقط برای  یک بار)<input id="priceFree" value="0"
                                class="border-0 border-bottom border-primary text-center mb-2" type="text"
                                readonly>تومان</label>
                    </div>
                     
                     <div class="container mt-2">
                       <label class=" text-center text-danger rounded-2 
                        text-bg-info mx-4 p-2">
                        شماره کارت <P class="text-black p-1"> بانک رفاه 5894631510924160</P> حسن نظرپرور نوشادی </label>
                     </div>
                    <div class="m-1"><label for="" class="text-light text-success-emphasis text-bg-info border p-2 rounded-4">لطفابرای تسریع در انجام کار به شماره 09914874201 واریزی یا هر اشکال دیگر را گزارش نمایید</label></div> 
                    <label id="msgPlanSelected" for="" class="label-identifydoctors p-2 m-2 col-8"></label>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group ">
                                <label class=" form-label" for="variz">واریزمبلغ</label>
                                <input class=" form-control input-border" type="text" name="varizMab" id="variz" value="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row justify-content-center">
                                <div class="form-group col-6 ml-0">
                                    <label class=" form-label" for="transact"> طی تراکنش/ توضیح...</label>
                                    <input class=" form-control input-border" type="text" name="transactMab" id="transact" 
                                        placeholder="مثلا 123553"
                                        value="">
                                </div>
                                <div class=" col-5 mt-4 mb-0  align-self-center ">
                                    <label class="form-control col-2 border-0 p-0 align-self-center" for="">انجام
                                        گردید</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="conatiner">
                    <div class="form-group mb-3">
                        <button type="button" class="btn btn-success mt-2" 
                          onclick="saveEditSelectPlan()">ارسال جهت بررسی و تایید</button>
                    </div>
                </div>

        </div>
    </div>
    <!-- end selct palne -->
  
    </div>  <!-- end of section 2 ordeinal user -->
    </div> <!-- end div main continer -->
    
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.slim.min.js"></script>  
    <script src="/jsPrj/rejisterdoctors.js"></script>
    <script>const DisableDays = "<%= user.DisableDays %> "</script>
    <script>const MessageWork = "<%= user.MessageWork %> "</script> 

</body>

</html>